* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  position: relative;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;

  border-left: 1rem solid #F7DF94;
}

.card {
  padding: 2em;
  width: 614px;
}

.loading-message {
  font-size: 3rem;
}

/** Rendering Elements HTML/CSS **/
.quote {
  font-size: 3rem;
  line-height: 120%; /* 43.2px */
  margin-bottom: 10rem;
}

.author {
  font-size: 2.5rem;
  color: rgb(61, 60, 60);
}

.category {
  font-size: 2rem;
  color: rgba(128, 128, 128, 0.728);
}

.content {
  width: 300px;
}

.button {
  position: absolute;
  top: 2%;
  right: 15%;
  transform: translate(50%,50%);

  border: none;
  cursor: pointer;
  background-color: white;
  font-size: 2.3rem;
  border-bottom: 0.3rem solid #e8b92e;

  transition: all 0.4s;
}

.button:hover {
  background-color: white;
  border-bottom: 0.3rem solid #c09927;

}

/* 935px / 16px = 58em */
@media(max-width: 58em) {

  html {
    /* 9px/16px = 56.25% */
    font-size: 56.25%;
  }


  .card {
    padding: 2em;
    width: 500px;
  }
}

/* 640px / 16px = 40em */
@media(max-width: 40em) {

  html {
    /* 8px/16px = 50% */
    font-size: 50%;
  }


  .card {
    padding: 2em;
    width: 300px;
  }
}